@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'DM Serif', sans-serif;
    font-size: 16px;
    background-color: #E3E3E3;
}

main {
    margin: auto;
    max-width: 768px;
    min-height: 100vh;
    padding: 20px;
}

nav {
    margin-bottom: 40px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-left: 20px;
    margin-top: 30px;
}

nav li a {
    text-decoration: none;
    color: #C60021;
    border: 1px solid black;
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 350px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0, 5, 24, 0.4);
}


.display input {
    color: #0a1e23;
    width: 90%;
    text-align: right;
    padding: 15px 10px;
    border: none;
    background-color: transparent;
    font-size: 35px;
}

.display input::placeholder {
    color: black;
}

table {
    width: 100%;
    margin-top: 20px;
}

input[type="button"] {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

input[type="button"]:hover {
    transform: scale(1.1);
}

.input-key {
    background-color: rgb(240, 238, 238);
}

.btn-operator{
    background-color: lightblue;
}

.btn-clear{
    background-color: lightgreen;
}

.btn-equal {
    background-color: rgb(221, 174, 221);
}

@media screen and (max-width: 375px) {
    nav li {
        margin-left: 2px;
    }
}